.city-2 p {
    color: darkblue;
    text-align: justify;
}

.city-2 h3 {
    color: deeppink;
    text-align: center;
}

.city-1 p {
    color: forestgreen;
    text-align: justify;
}

.city-1 h3 {
    color: orangered;
    text-align: center;
}